<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>

<h2>
    Products
</h2>
<tbody>
<div th:if="${ not#lists.isEmpty(products)}">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getTotalAmount()}"></td>
        </tr>
        </tbody>
        <table>
</div>

<h2>
    Product Availability
</h2>
<div th:if="${ not#lists.isEmpty(locations)}">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Location Name</th>
            <th>Stock Availability</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${locations}">
            <td th:text="${location.getAlias()}"></td>
            <td th:text="${#strings.listJoin(location.getStockAvailability(), ', ')}"></td>
        </tr>
        </tbody>
        <table>
</div>
</tbody>
</body>
</html>