<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Optimizer</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>

<div class="table-wrapper">
    <h2>
        Product Availability
    </h2>
    <div th:if="${ not#lists.isEmpty(locations)}">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Location Name</th>
                <th>Stock Availability</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locations}">
                <td th:text="${location.getAlias()}"></td>
                <td th:text="${#strings.listJoin(location.getStockAvailability(), ', ')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>
        Place Your Order
    </h2>
    <!-- Button -->
    <div class="myDiv">
        <!--        <table class="fl-table">-->

        <form action="#" th:action="@{/order}" th:object="${ordersWrapper}" method="post" class="valueForm">

            <table class="fl-table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Total Amount</th>
                    <th>Quantity To Order</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="workRow, rowStat : *{orders}">
                    <td th:text="${ products.get(ordersWrapper.orders[__${rowStat.index}__].getProductId()-1).getName()}"></td>
                    <td th:text="${products.get(ordersWrapper.orders[__${rowStat.index}__].getProductId()-1).getTotalAmount()}"></td>
                    <td><input class="inputBox" type="text" th:field="*{orders[__${rowStat.index}__].amount}"
                               placeholder="0"></td>
                    <input class="inputBox" type="hidden" th:field="*{orders[__${rowStat.index}__].productId}"
                           th:value="*{orders[__${rowStat.index}__].productId}">
                    <input class="inputBox" type="hidden" th:field="*{orders[__${rowStat.index}__].productName}"
                           th:value="*{orders[__${rowStat.index}__].productName}">
                </tr>
                </tbody>
            </table>
            <input class="submitButton" type="submit" value="Submit">
        </form>
    </div>

    <h3 th:if="${error != null}" th:text="${error}"></h3>

    <div th:if="${fullfilledOrders != null}">

        <h2>
            Fullfilled Order
        </h2>
        <table class="fl-table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Ordered Quantity</th>
                <th>Locations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fullfilledOrder : ${fullfilledOrders.getFullfilledOrderList()}">
                <td th:text="${products.get(fullfilledOrder.getOrder().getProductId()-1).getName()}"></td>
                <td th:text="${fullfilledOrder.getOrder().getAmount()}"></td>
                <td th:text="${fullfilledOrder.locationAliases()}"></td>
            </tr>
            </tbody>
        </table>

        <h4 th:text="${fullfilledOrders.getMessage()}"></h4>
    </div>




</div>
</body>
</html>